*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-decoration: none;
}