@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary-color:#000;
    --primary-color-contrast:#5dace6;
    
}

.light-theme{
    --page-background:#f6edf0;
    --color-border:#ffffff;
    --color-title:#2c0142;
    --color-text:#000;
    /* backgrounds */
    --background-pincipal: url("../imagens/Backgrounds/bg-lt-principal.png");
    --background-sobre: url("../imagens/Backgrounds/bg-lt-sobre.png");
    --background-projetos: url("../imagens/Backgrounds/bg-lt-projetos.png");
    --background-contato: url("../imagens/Backgrounds/bg-lt-sobre.png");
} 

.dark-theme{
    --page-background: #2c0142;
    --color-border:#000;
    --color-title:#f6edf0;
    --color-text:#fff;
    /* backgrouns */
    --background-pincipal: url("../imagens/Backgrounds/bg-dt-principal.png");
    --background-sobre: url("../imagens/Backgrounds/bg-dt-sobre.png");
    --background-projetos: url("../imagens/Backgrounds/bg-dt-projetos.png");
    --background-contato: url("../imagens/Backgrounds/bg-dt-contato.png");

}
*{
    font-family: "Poppins";
    color: var(--color-text);

}
h1{
    color: var(--color-title);
}

.header p {
    font-weight: bolder;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}




.header__brand .brand__logo{
    width: 5.25rem;
    height:3.25rem;
}

#toggleTheme{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.menu{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.49);
}

.menu--mobile{
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    
}

.menu--mobile .menu__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu__link.active .menu__icon, .menu__link.active .menu__text{
    color: var(--primary-color-contrast);
    font-weight: bolder;
}

.menu__icon, .menu__text{
    color: var(--color-text);
}

.menu__item{
    width: 100%;
}

.menu__icon{
    font-size: 1.5rem;
}

.menu__text{
    font-size: .75rem;
    text-transform: uppercase;
}

@media (min-width: 768px){
    .menu--mobile{
        display: none;
    }
}